# idea
.idea/
.vscode
cmake-build*
build*

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
ft_ssl

# Debug files
*.dSYM/
